
:root{

    --MAIN-TEXT-color:#222; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #404040; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#DD7596; /* Color of links */
    --MAIN-LINK-HOVER-color:#d01616; /* Color of hovered links */
    --MAIN-ANCHOR-color: #f31c1c; /* color of anchors on titles */

    --MENU-HOME-LINK-color: #ccc; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #e6e6e6; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#CF1259; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#e23131; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#b90000; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #fc8585; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #fda1a1; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#2b2020; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#404E5C; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #000; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #f0f0f0; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #DD7596; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2b2020; /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
    font-weight: 300;
    background: #f0f0f0;
}
body::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: .5;
    height: 383px;
    z-index: -1;
    background-image: url(../images/compute.png);
}
#R-body:after {
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.4), #f0f0f0 100%);
    height: 383px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1{
    font-size: 3rem;
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color);
}
h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color);
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#R-sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}
#R-sidebar #R-homelinks ul li.active > a{
    background: var(--MENU-VISITED-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}
#R-body a.highlight {
    line-height: 1.1;
    display: inline-block;
}
#R-body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#R-sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#R-sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#R-sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#R-sidebar ul.topics > li.parent, #R-sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#R-sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#R-sidebar a, #R-sidebar h3 {
    color: var(--MENU-SECTIONS-LINK-color);
}

#R-sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#R-sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#R-sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#R-sidebar .highlightable{
    padding: 0;
}

#R-body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#R-body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#R-homelinks {
  background: var(--MENU-HEADER-BG-color);
  background-color: var(--MENU-HEADER-BORDER-color);
  border-bottom-color: var(--MENU-HEADER-BORDER-color);
}

#R-homelinks a {
  color: var(--MENU-HOME-LINK-color);
}

#R-homelinks a:hover {
  color: var(--MENU-HOME-LINK-HOVERED-color);
}

#R-sidebar #R-homelinks hr {
  border-color: transparent;
}


/* ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #E4D836;
    border-radius: 0.5rem;
    opacity: 0.8;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    opacity: 0.2;
    margin: 1rem;
  } */